<section id="slider-servicios">
    <div class="slider_images"></div>
    <div class="slider_text" id="slider-text">
        <% servicios.forEach(function(servicio, index) { %>
            <div class="slide" data-name="<%= servicio.title %>" data-image="<%= servicio.image %>"
                data-color="<%= servicio.color %>">
                <h2 class="slider_text_title">
                    <%= servicio.title %>
                </h2>
                <p class="slider_text_info">
                    <%= servicio.information %>
                </p>
            </div>
        <% }); %>
    </div>
</section>