<script>

    // Definir una variable JavaScript para almacenar los datos de los contadores
    window.contadores = [];

    // Iterar sobre cada contador y agregar sus coordenadas a la variable
    <% for (let contador of todosLosContadores) { %>

        window.contadores.push({
            id: '<%= contador.id %>',
            coorY: '<%= contador.coorY %>',
            coorX: '<%= contador.coorX %>',
            sector: '<%= contador.sector %>',
            ramal: '<%= contador.ramal %>',
            titular: '<%= contador.titular %>'
        });

    <% } %>

    /*

        // Ahora puedes trabajar con la variable 'contadores' en JavaScript
        // Por ejemplo, podrías recorrerla para mostrar las coordenadas en la consola
        contadores.forEach(contador => {
            console.log("Coordenada X:", contador.coorX);
            console.log("Coordenada Y:", contador.coorY);

            var iconUrl = "/images/mapa_sig/counter_without_watering.png";
            // Obtener las coordenadas
            var coorY = parseFloat(contador.coorY);
            var coorX = parseFloat(contador.coorX);
            var markerCounter = new google.maps.Marker({
                position: { lat: contador.coorX, lng: contador.coorY },
                map: myMap,
                icon: {
                    url: iconUrl,
                    scaledSize: new google.maps.Size(30, 20),
                },
                title: contador.id,
            });
            // Agregar evento de clic al marker
            markerCounter.addListener("click", function (event) {
                show_infowindow_plots(event, contador.id);
            });
            // Agregar el marker al arreglo
            makersCountersArray.push(markerCounter);
        });

*/


</script>

<div class="div-container">
    <div id="mapContainer" style="margin:10px; padding:0px; position: relative; width:100%">
        <div id="map" style="width:100%; height: 76vh;"></div><!--Fin mapa-->
        <!-- Barra de herramientas -->
        <div class="toolbar">
            <button class="toolbar-btn" id="toggle-temperature" onclick="toggleLayer('temperature', paint_temp)">
                <i class="fas fa-thermometer-half" id="temp-icon"></i> <span>Temperatura</span>
            </button>
            <button class="toolbar-btn" id="toggle-precipitation" onclick="toggleLayer('precipitation', paint_preci)">
                <i class="fas fa-cloud-rain" id="preci-icon"></i><span>Precipitación</span>
            </button>
            <button class="toolbar-btn" id="toggle-humidity" onclick="toggleLayer('humidity', paint_hume)">
                <i class="fas fa-tint" id="humidity-icon"></i> <span>Humedad</span>
            </button>
            <button class="toolbar-btn" id="toggle-wind" onclick="toggleLayer('wind', paint_wind)">
                <i class="fas fa-wind" id="wind-icon"></i> <span>Viento</span>
            </button>
            <button class="toolbar-btn" id="toggle-storms" onclick="toggleLayer('storms', paint_storm)">
                <i class="fas fa-bolt" id="storms-icon"></i> <span>% Tormentas</span>
            </button>
        </div>
        <div id="informacion" style="display:none">
        </div>
    </div>
</div>
<div id="info-meteorologica" style="display: none;">
    <div class="container2">
        <div class="header2">
            Datos Históricos. Año 2023. Precipitación, ETo
            <button class="close-button" onclick="closeInfo()">Cerrar</button>
        </div>
        <div class="content2">
            <div class="chart-container2">
                <canvas id="myChart"></canvas>
            </div>
            <div class="table-container2">
                <table>
                    <thead>
                        <tr>
                            <th>Mes</th>
                            <th>Precipitación (mm)</th>
                            <th>ETo (mm)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Enero</td>
                            <td>21.7</td>
                            <td>32.8</td>
                        </tr>
                        <tr>
                            <td>Febrero</td>
                            <td>5.3</td>
                            <td>53.2</td>
                        </tr>
                        <tr>
                            <td>Marzo</td>
                            <td>13.4</td>
                            <td>90.0</td>
                        </tr>
                        <tr>
                            <td>Abril</td>
                            <td>5.3</td>
                            <td>130.0</td>
                        </tr>
                        <tr>
                            <td>Mayo</td>
                            <td>25.6</td>
                            <td>139.0</td>
                        </tr>
                        <tr>
                            <td>Junio</td>
                            <td>73.5</td>
                            <td>151.1</td>
                        </tr>
                        <tr>
                            <td>Julio</td>
                            <td>0</td>
                            <td>233.1</td>
                        </tr>
                        <tr>
                            <td>Agosto</td>
                            <td>6.7</td>
                            <td>197.0</td>
                        </tr>
                        <tr>
                            <td>Septiembre</td>
                            <td>49.8</td>
                            <td>112.0</td>
                        </tr>
                        <tr>
                            <td>Octubre</td>
                            <td>73.9</td>
                            <td>74.9</td>
                        </tr>
                        <tr>
                            <td>Noviembre</td>
                            <td>37.2</td>
                            <td>33.9</td>
                        </tr>
                        <tr>
                            <td>Diciembre</td>
                            <td>40.6</td>
                            <td>22.4</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>AÑO 2023</td>
                            <td>353.0</td>
                            <td>1269.5</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>