<section class="slider" id="slider-presentacion">
    <div class="slider__content" id="slider-content" data-n-images="<%= imagenesPresentacion.length %>">
        <div class="slider__images" id="slider-images">
            <% imagenesPresentacion.forEach(function(data, index) { %>
                <div class="slider__images-item <% if (index === 0) { %> slider__images-item--active <% } %>" data-id="<%= data.id %>">
                    <img src="<%= data.sliderImages %>"/>
                </div>
            <% }) %>
        </div>
        <div class="slider__text" id="slider-text">
            <% imagenesPresentacion.forEach(function(data, index) { %>
                <div class="slider__text-item <% if (index === 0) { %> slider__text-item--active <% } %>" data-id="<%= data.id %>">
                    <% if (data.sliderTextHead) { %>
                        <div class="slider__text-item-head">
                            <h4><%= data.sliderTextHead %></h4>
                        </div>
                    <% } %>
                    <% if (data.sliderTextInfo) { %>
                        <div class="slider__text-item-info">
                            <p><%= data.sliderTextInfo %></p>
                        </div>
                    <% } %>
                </div>
            <% }) %>
        </div>
    </div>
    <div class="slider__nav">
        <div class="slider__nav-arrows">
            <div class="slider__nav-arrow slider__nav-arrow--left" id="left">
                a la izquierda
            </div>
            <div class="slider__nav-arrow slider__nav-arrow--right" id="right">
                a la derecha
            </div>
        </div>
        <div class="slider__nav-dots" id="slider-dots">
            <% imagenesPresentacion.forEach(function(data, index) { %>
                <div class="slider__nav-dot <% if (index === 0) { %> slider__nav-dot--active <% } %>" data-id="<%= data.id %>">
                </div>
            <% }) %>
        </div>
    </div>
</section>