<%- include('../components/common/head.ejs', { pageTitle: pageTitle }) %>
  <link rel="stylesheet" href="/styles/navbar.css">
  <link rel="stylesheet" href="/styles/socialbar.css">
  <script src="/scripts/navbar.js" defer></script>

  <link rel="stylesheet" href="/styles/gestor_equipos.css">
  <script src="/scripts/gestor-equipos.js" defer></script>

  </head>

  <body>
   
    <main>
      <h2 class="titulo_seccion">
      </h2>
      <div class="tab-labels">
        <div class="tab-label active" data-tab="tabla1" onclick="showTab('tabla1')">Equipos</div>
        <div class="tab-label" data-tab="tabla2" onclick="showTab('tabla2')">Elementos</div>
        <!-- Agrega más pestañas según sea necesario -->
      </div>

      <!-- Contenido de las pestañas -->
      <div class="tab-content active" id="tabla1">
        <div class="div-container">

          <button id="mostrarFormulario" class="btn">Añadir nuevo equipo</button>
          <form action="/gestor-equipos/agregarContador" method="POST" id="miFormulario" style="display: none;">
            <label for="selector">Selecciona una opción:</label>
            <select id="selector" name="tipoEquipo">
              <option value="contador">Contador</option>
              <option value="sensor">Sensor</option>
            </select>

            <!-- Campos para el contador -->
            <div id="camposContador" style="display: none">
              <label for="IdeEle">IdeEle:</label>
              <input type="text" name="ideEle" required>
              <label for="calle_num">Calle/Nº:</label>
              <input type="text" name="calle_num" required>
              <label for="ideSector">IdeSector:</label>
              <input type="text" name="ideSector" required>
              <label for="ideTramo">IdeTramo:</label>
              <input type="text" name="ideTramo" required>
              <label for="ideRamal">IdeRamal:</label>
              <input type="text" name="ideRamal" required>
              <label for="ideRadio">IdeRadio:</label>
              <input type="text" name="ideRadio" required>
              <label for="marca">Marca:</label>
              <input type="text" name="ideRadio" required>
              <label for="dimension">Dimensión:</label>
              <input type="text" name="dimension" required>
              <label for="qnominal">Qnominal:</label>
              <input type="text" name="qnominal" required>
              <label for="volAsignado">Vol. Asignado:</label>
              <input type="text" name="volAsignado" required>
              <label for="coorX">Coordenada X:</label>
              <label for="coorX">Coordenada X:</label>
              <input type="text" name="coorX" required>
              <label for="coorY">Coordenada Y:</label>
              <input type="text" name="coorY" required>
              <label for="clientes">Clientes:</label>
              <select name="clientes">
                <% for(let cliente of clientes) { %>
                  <option value="<%= cliente.numero %>">
                    <%= cliente.nombre %>
                  </option>
                  <% } %>
              </select>
              <button type="submit" class="btn">Añadir</button>
            </div>

            <!-- Campos para el sensor -->
            <div id="camposSensor" style="display: none">
              <label for="IdeEle">IdeEle:</label>
              <input type="text" name="ideEle" required>
              <label for="ideSector">IdeSector:</label>
              <input type="text" name="ideSector" required>
              <label for="ideRadio">IdeRadio:</label>
              <input type="text" name="ideRadio" required>
              <select name="tipo">
                <option value="caudalimetro">caudalimetro</option>
                <option value="nivel">nivel</option>
                <option value="pluviometro">pluviómetro</option>
              </select>
              <label for="coorX">Coordenada X:</label>
              <input type="text" name="coorX" required>
              <label for="coorY">Coordenada Y:</label>
              <input type="text" name="coorY" required>
              <button type="submit" class="btn">Añadir</button>
            </div>

          </form>
          <br />
          <label>Buscar registro... </label><input type="text" id="search" class="search-input" placeholder="Buscar">
        </div>
        <div style="margin: auto;width: 85%;">
          <p>Contadores</p>
        </div>
        <div class="table-container">
          <table>
            <thead>
              <tr>
                <th>IdeEle</th>
                <th>Calle/Nº</th>
                <th>Cliente</th>
                <th>Sector</th>
                <th>Tramo</th>
                <th>Ramal</th>
                <th>Radio</th>
                <th>Marca</th>
                <th>Dimension</th>
                <th>Qnominal</th>
                <th>Vol. Asignado</th>
                <th>CoorX</th>
                <th>CoorY</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody id="table">
              <% for(let contador of contadores) { %>

                <tr data-uid="<%= contador.id %>">
                  <td>
                    <%= contador.id %>
                  </td>
                  <td contenteditable="true" class="editable" data-field="sector" data-id="<%= contador.id %>">
                    <%= contador.sector %>
                  </td>
                  <td contenteditable="true" class="editable" data-field="calle_num" data-id="<%= contador.id %>">
                    <%= contador.calle_num %>
                  </td>
                  <td contenteditable="true" class="editable" data-field="cliente" data-id="<%= contador.id %>">
                    <%= contador.cliente %>
                  </td>
                  <td contenteditable="true" class="editable" data-field="tramo" data-id="<%= contador.id %>">
                    <%= contador.tramo %>
                  </td>
                  <td contenteditable="true" class="editable" data-field="ramal" data-id="<%= contador.id %>">
                    <%= contador.ramal %>
                  </td>
                  <td contenteditable="true" class="editable" data-field="radio" data-id="<%= contador.id %>">
                    <%= contador.radio %>
                  </td>
                  <td contenteditable="true" class="editable" data-field="marca" data-id="<%= contador.id %>">
                    <%= contador.marca %>
                  </td>
                  <td contenteditable="true" class="editable" data-field="dimension" data-id="<%= contador.id %>">
                    <%= contador.dimension %>
                  </td>
                  <td contenteditable="true" class="editable" data-field="qnominal" data-id="<%= contador.id %>">
                    <%= contador.qnominal %>
                  </td>
                  <td contenteditable="true" class="editable" data-field="volAsignado" data-id="<%= contador.id %>">
                    <%= contador.volAsignado %>
                  </td>
                  <td contenteditable="true" class="editable" data-field="coorX" data-id="<%= contador.id %>">
                    <%= contador.coorX %>
                  </td>
                  <td contenteditable="true" class="editable" data-field="coorY" data-id="<%= contador.id %>">
                    <%= contador.coorY %>
                  </td>
                  <td>
                    <button class="btn" id="openHistorico">Ver histórico</button>
                    <button class="btn" onclick="updateContador('<%= contador.id %>')">Actualizar</button>
                    <button class="btn red-btn" onclick="borrarContador('<%= contador.id %>')">Borrar</button>

                  </td>
                </tr>
                <% } %>

            </tbody>
          </table>
        </div>
        <script> var todos = [];</script>
        <% for(let contador of todosLosContadores) { %>
          <script>
            todos.push({ id: '<%= contador.id %>', sector: '<%= contador.sector %>', tramo: '<%= contador.tramo %>' });
            //console.log(todos);
          </script>
          <% } %>
            <div class="div-container">
              <!-- Botones de paginación -->
              <!-- 
        
          </div>
        -->
              <div class="pagination">
                <label for="page-selector">Página:</label>
                <select id="page-selector" onchange="window.location.href = '/gestor-equipos?page=' + this.value;">
                  <% for (let i=1; i <=totalPages; i++) { %>
                    <option value="<%= i %>" <%=i===currentPage ? 'selected' : '' %>><%= i %>
                    </option>
                    <% } %>
                </select>
              </div>

            </div>

            <!-- Tabla sensores-->
            <div style="margin: auto;width: 85%;">
              <p>Sensores</p>
            </div>
            <div class="table-container">
              <table>
                <thead>
                  <tr>
                    <th>IdeEle</th>
                    <th>Sector</th>
                    <th>Radio</th>
                    <th>Tipo</th>
                    <th>CoorX</th>
                    <th>CoorY</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody id="table">
                  <% for(let sensor of sensores) { %>

                    <tr data-uid="<%= sensor.id %>">
                      <td>
                        <%= sensor.id %>
                      </td>
                      <td contenteditable="true" class="editable" data-field="sector" data-id="<%= sensor.id %>">
                        <%= sensor.sector %>
                      </td>
                      <td contenteditable="true" class="editable" data-field="radio" data-id="<%= sensor.id %>">
                        <%= sensor.radio %>
                      </td>
                      <td contenteditable="true" class="editable" data-field="tipo" data-id="<%= sensor.id %>">
                        <%= sensor.tipo %>
                      </td>
                      <td contenteditable="true" class="editable" data-field="coorX" data-id="<%= sensor.id %>">
                        <%= sensor.coorX %>
                      </td>
                      <td contenteditable="true" class="editable" data-field="coorY" data-id="<%= sensor.id %>">
                        <%= sensor.coorY %>
                      </td>
                      <td>
                        <button class="btn" id="openHistorico">Ver histórico</button>
                        <button class="btn" onclick="updateSensor('<%= sensor.id %>')">Actualizar</button>
                        <button class="btn red-btn" onclick="borrarSensor('<%= sensor.id %>')">Borrar</button>

                      </td>
                    </tr>
                    <% } %>

                </tbody>
              </table>
            </div>
            <% for(let sensor of todosLosSensores) { %>
              <script>
                todos.push({ id: '<%= sensor.id %>', sector: '<%= sensor.sector %>', tramo: '<%= sensor.tipo %>' });
                //console.log(todos);
              </script>
              <% } %>
                <div class="div-container">
                  <!-- Botones de paginación -->
                  <!-- 

  </div>
-->
                  <div class="pagination">
                    <label for="page-selector">Página:</label>
                    <select id="page-selector"
                      onchange="window.location.href = '/gestor-equipos?pageSensor=' + this.value;">
                      <% for (let i=1; i <=totalPagesSensor; i++) { %>
                        <option value="<%= i %>" <%=i===currentPageSensor ? 'selected' : '' %>><%= i %>
                        </option>
                        <% } %>
                    </select>
                  </div>

                </div>
      </div>
      <div class="tab-content" id="tabla2">
        <table>
          <!-- Contenido de la segunda pestaña -->
        </table>
      </div>


      <%- include('../components/common/footer.ejs') %>
    </main>
    <script>
      const mostrarFormularioButton = document.getElementById('mostrarFormulario');
      const miFormulario = document.getElementById('miFormulario');

      mostrarFormularioButton.addEventListener('click', () => {
        // Cambia la visibilidad del formulario cuando se hace clic en el botón
        if (miFormulario.style.display === 'none') {
          miFormulario.style.display = 'block';
          if (selector.value === "contador") {
            camposContador.style.display = "block";
            camposSensor.style.display = "none";
          } else if (selector.value === "sensor") {
            camposContador.style.display = "none";
            camposSensor.style.display = "block";
          }
        } else {
          miFormulario.style.display = 'none';
        }
      });
    </script>

    <!-- Script para la búsqueda en tiempo real -->
    <script>
      //Solo busca en la página actual
      document.addEventListener("DOMContentLoaded", function () {
        const searchInput = document.getElementById("search");

        searchInput.addEventListener("keyup", function () {
          const searchTerm = this.value.toLowerCase();

          // Accede a la variable de Node.js (miVariable) y asígnala a una variable de JavaScript

          console.log("todos " + todos[0].id);
          /*var contadores = <%= JSON.stringify(todosLosContadores)%>;
          contadores=contadores.replace("&#34;", "'");

          var primerObjeto = contadores[0];
          console.log('ID del primer objeto:', primerObjeto.id);
          console.log('sector del primer objeto:', primerObjeto.sector);
          console.log('tramo del primer objeto:', primerObjeto.tramo);
        

*/
          var found = false;
          for (var i = 0; i < todos.length; i++) {
            //console.log("contador['id'] " + todos[i].id + " " + searchTerm);
            if ((todos[i].id.toLowerCase()).includes(searchTerm)) {
              found = true;
              break;
            }

          }
          if (found) {
            var pagina = (i / 10) + 1;
            console.log("Página: " + parseInt(pagina));
            location.href = "/gestor-equipos?page=" + parseInt(pagina);
            //row.style.display = "";
          } else {
            //row.style.display = "none";
          }

          /*<% for (let contador of todosLosContadores) { %>
            if (contador.id.includes(searchTerm)) {
                found = true;
                break;
              }
          <% } %>
  
          if (found) {
              row.style.display = "";
            } else {
              row.style.display = "none";
            }
            */
        });
      });
    </script>
    <script>
      document.getElementById('openHistorico').addEventListener('click', function () {
        window.open('/historico', 'Popup', 'width=600,height=400');
      });
    </script>
    <script>
      // Función para mostrar la pestaña seleccionada
      function showTab(tabId) {
        const tabs = document.querySelectorAll('.tab-content');
        tabs.forEach(tab => tab.classList.remove('active'));
        document.getElementById(tabId).classList.add('active');

        const tabLabels = document.querySelectorAll('.tab-label');
        tabLabels.forEach(label => label.classList.remove('active'));
        const activeLabel = document.querySelector(`.tab-label[data-tab="${tabId}"]`);
        activeLabel.classList.add('active');
      }
    </script>
    <script>

      const selector = document.getElementById("selector");
      const camposContador = document.getElementById("camposContador");
      const camposSensor = document.getElementById("camposSensor");

      selector.addEventListener("change", function () {
        if (selector.value === "contador") {
          camposContador.style.display = "block";
          camposSensor.style.display = "none";
        } else if (selector.value === "sensor") {
          camposContador.style.display = "none";
          camposSensor.style.display = "block";
        }
      });

    </script>

    <!--
//Código para exportar una tabla a excel

const excel = require('exceljs');
// Ruta para renderizar la página con la tabla HTML
app.get('/generar-excel', (req, res) => {
  // Supongamos que tienes una página HTML con una tabla
  const htmlContent = `
    <html>
      <head>
        <title>Tabla HTML a Excel</title>
      </head>
      <body>
        <table>
          <tr>
            <th>Nombre</th>
            <th>Edad</th>
          </tr>
          <tr>
            <td>Juan</td>
            <td>25</td>
          </tr>
          <tr>
            <td>María</td>
            <td>30</td>
          </tr>
          <tr>
            <td>Luis</td>
            <td>28</td>
          </tr>
        </table>
      </body>
    </html>
  `;

  // Crear un nuevo archivo Excel
  const workbook = new excel.Workbook();
  const worksheet = workbook.addWorksheet('TablaHTML');

  // Extraer la tabla HTML y convertirla en datos de Excel
  worksheet.views = [
    { state: 'frozen', xSplit: 0, ySplit: 1, activeCell: 'B2' },
  ];
  worksheet.eachRow({ includeEmpty: false }, (row, rowNumber) => {
    const tr = ejs.render(htmlContent, {
      nombre: row.getCell(1).value,
      edad: row.getCell(2).value,
    });
    const div = document.createElement('div');
    div.innerHTML = tr;
    const cells = div.querySelectorAll('td, th');
    cells.forEach((cell, columnIndex) => {
      row.getCell(columnIndex + 1).value = cell.textContent;
    });
  });

  // Configurar la respuesta HTTP para descargar el archivo Excel
  res.setHeader('Content-Type', 'application/vnd.openxmlformats');
  res.setHeader('Content-Disposition', 'attachment; filename=tabla_html.xlsx');

  // Generar y enviar el archivo Excel como respuesta
  workbook.xlsx.write(res)
    .then(() => {
      res.end();
    })
    .catch((error) => {
      console.error('Error al generar el archivo Excel', error);
      res.status(500).send('Error al generar el archivo Excel');
    });
});


    -->

  </body>
  