<%- include('../components/common/head.ejs', { pageTitle: pageTitle }) %>
  <link rel="stylesheet" href="/styles/navbar.css">
  <link rel="stylesheet" href="/styles/socialbar.css">
  <script src="/scripts/navbar.js" defer></script>

  <link rel="stylesheet" href="/styles/gestor_usuarios.css">
  <script src="/scripts/gestor-usuarios.js" defer></script>
  <script src="/scripts/gestor-roles.js" defer></script>
  </head>

  <body>
    <main>
      <h2 class="titulo_seccion">
      </h2>
      <div class="tab-labels">
        <div class="tab-label active" data-tab="tabla1" onclick="showTab('tabla1')">Usuarios</div>
        <div class="tab-label" data-tab="tabla2" onclick="showTab('tabla2')">Grupos de usuario</div>
        <!-- Agrega más pestañas según sea necesario -->
      </div>
      <!-- Contenido de las pestañas -->
      <div class="tab-content active" id="tabla1">
        <div class="div-container">
          <button id="mostrarFormUsuarios" class="btn">Añadir nuevo usuario</button>
          <form action="/gestor-usuarios/agregarUsuario" method="POST" id="usuariosForm" class="custom-form" style="display: none;">
            <div class="form-row">
              <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" name="username" id="username" required>
              </div>
              <div class="form-group">
                <label for="name">Nombre:</label>
                <input type="text" name="name" id="name" required>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group">
                <label for="surname">Apellidos:</label>
                <input type="text" name="surname" id="surname" required>
              </div>
              <div class="form-group">
                <label for="grupo">Grupo:</label>
                <select name="grupo" id="grupo" required>
                  <!-- Aquí puedes agregar opciones generadas dinámicamente desde JavaScript -->
                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group">
                <label for="email">Email:</label>
                <input type="text" name="email" id="email" required>
              </div>
              <div class="form-group">
                <label for="phone">Phone:</label>
                <input type="text" name="phone" id="phone" required>
              </div>
            </div>
            <button type="submit" class="btn">Añadir</button>
          </form>
          <label>Buscar registro... </label><input type="text" id="search" class="search-input" placeholder="Buscar">
        </div>
        <br/>
        <div class="table-container">
          <table>
            <thead>
              <tr>
                <th>Usuario</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Rol</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody id="table">
              <% for(let usuario of usuarios) { %>
                <tr data-uid="<%= usuario.idusers %>">
                  <td data-field="username" data-id="<%= usuario.username %>">
                    <%= usuario.username %>
                  </td>
                  <td contenteditable="true" class="editable" data-field="name" data-id="<%= usuario.username %>">
                    <%= usuario.name %>
                  </td>
                  <td contenteditable="true" class="editable" data-field="surname" data-id="<%= usuario.username %>">
                    <%= usuario.surname %>
                  </td>
                  <td contenteditable="true" class="editable" data-field="grupo" data-id="<%= usuario.username %>">
                    <select class="select-mod">
                      <% for(let rol of todosLosRoles) { %>
                        <option <%=(usuario.rol===rol.nombre) ? 'selected' : '' %>><%= rol.nombre %>
                        </option>
                        <% } %>
                    </select>
                  </td>
                  <td contenteditable="true" class="editable" data-field="email" data-id="<%= usuario.username %>">
                    <%= usuario.email %>
                  </td>
                  <td contenteditable="true" class="editable" data-field="phone" data-id="<%= usuario.username %>">
                    <%= usuario.phone %>
                  </td>
                  <td class="acciones">
                    <button class="btn" onclick="updateUsuario('<%= usuario.username %>')">Actualizar</button>
                    <button class="btn red-btn" onclick="borrarUsuario('<%= usuario.username %>')">Borrar</button>
                  </td>
                </tr>
                <% } %>
            </tbody>
          </table>
        </div>
        <script>var selectRol = document.getElementById("grupo");</script>
        <% for(let rol of todosLosRoles) { %>
          <script>var option = document.createElement("option");
            option.text = '<%= rol.nombre %>'; // Aquí solo se asigna el nombre del rol como valor del option
            selectRol.add(option);</script>
          <% } %>
            <script> var todos = [];</script>
            <% for(let usuario of todosLosUsuarios) { %>
              <script>
                todos.push({ id: '<%= usuario.idusers %>', password: '<%= usuario.password %>' });
                //console.log(todos);
              </script>
              <% } %>
                <div class="div-container">
                  <!-- Botones de paginación -->
                  <!-- 
         
        -->
                  <div class="pagination">
                    <label for="page-selector">Página:</label>
                    <select id="page-selector" onchange="window.location.href = '/gestor-usuarios?page=' + this.value;">
                      <% for (let i=1; i <=totalPages; i++) { %>
                        <option value="<%= i %>" <%=i===currentPage ? 'selected' : '' %>><%= i %>
                        </option>
                        <% } %>
                    </select>
                  </div>
                </div>
      </div>

      <div class="tab-content" id="tabla2">
        <div class="div-container">
          <button id="mostrarFormRoles" class="btn">Añadir nuevo rol</button>
          <form action="/gestor-usuarios/agregarRoles" method="POST" id="rolesForm" class="custom-form" style="display: none;">
            <div class="form-row">
              <div class="form-group">
                <label for="perUsu">Usuarios:</label>
                <input type="text" name="perUsu" id="perUsu" required>
              </div>
              <div class="form-group">
                <label for="perVisor">Visor:</label>
                <select name="perVisor" id="perVisor" class="select-mod" required>
                  <option value="0" selected>Ninguno</option>
                  <option value="1">Lectura</option>
                  <option value="2">Edición</option>
                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group">
                <label for="perMeteo">Meteorológicos:</label>
                <select name="perMeteo" id="perMeteo" class="select-mod" required>
                  <option value="0" selected>Ninguno</option>
                  <option value="1">Lectura</option>
                  <option value="2">Edición</option>
                </select>
              </div>
              <div class="form-group">
                <label for="perRed">Red:</label>
                <select name="perRed" id="perRed" class="select-mod" required>
                  <option value="0" selected>Ninguno</option>
                  <option value="1">Lectura</option>
                  <option value="2">Edición</option>
                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group">
                <label for="perDemandas">Demandas:</label>
                <select name="perDemandas" id="perDemandas" class="select-mod" required>
                  <option value="0" selected>Ninguno</option>
                  <option value="1">Lectura</option>
                  <option value="2">Edición</option>
                </select>
              </div>
              <div class="form-group">
                <label for="perRiego">Riego:</label>
                <select name="perRiego" id="perRiego" class="select-mod" required>
                  <option value="0" selected>Ninguno</option>
                  <option value="1">Lectura</option>
                  <option value="2">Edición</option>
                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group">
                <label for="perEquipos">Equipos:</label>
                <select name="perEquipos" id="perEquipos" class="select-mod" required>
                  <option value="0" selected>Ninguno</option>
                  <option value="1">Lectura</option>
                  <option value="2">Edición</option>
                </select>
              </div>
            </div>
            <button type="submit" class="btn">Añadir</button>
          </form>
          
          <label>Buscar registro... </label><input type="text" id="search" class="search-input" placeholder="Buscar">
        </div>
        <br/>
        <div class="table-container">
          <table>
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Usuarios</th>
                <th>Visor</th>
                <th>Meteorológicos</th>
                <th>Red</th>
                <th>Demandas</th>
                <th>Riego</th>
                <th>Equipos</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody id="table">
              <% for(let rol of roles) { %>
                <tr data-uid="<%= rol.nombre %>">
                  <td data-field="login" data-id="<%= rol.nombre %>">
                    <%= rol.nombre %>
                  </td>
                  <td contenteditable="true" class="editable" data-field="perUsu" data-id="<%= rol.nombre %>">
                    <select class="select-mod">
                      <option value="0" <%= rol.perUsu===0 ? 'selected' : '' %>>Ninguno</option>
                      <option value="1" <%= rol.perUsu===1 ? 'selected' : '' %>>Lectura</option>
                      <option value="2" <%= rol.perUsu===2 ? 'selected' : '' %>>Edición</option>
                    </select>
                  </td>
                  <td contenteditable="true" class="editable" data-field="perVisor" data-id="<%= rol.nombre %>">
                    <select class="select-mod">
                      <option value="0" <%= rol.perVisor===0 ? 'selected' : '' %>>Ninguno</option>
                      <option value="1" <%= rol.perVisor===1 ? 'selected' : '' %>>Lectura</option>
                      <option value="2" <%= rol.perVisor===2 ? 'selected' : '' %>>Edición</option>
                    </select>
                  </td>
                  <td contenteditable="true" class="editable" data-field="perMeteo" data-id="<%= rol.nombre %>">
                    <select class="select-mod">
                      <option value="0" <%= rol.perMeteo===0 ? 'selected' : '' %>>Ninguno</option>
                      <option value="1" <%= rol.perMeteo===1 ? 'selected' : '' %>>Lectura</option>
                      <option value="2" <%= rol.perMeteo===2 ? 'selected' : '' %>>Edición</option>
                    </select>
                  </td>
                  <td contenteditable="true" class="editable" data-field="perRed" data-id="<%= rol.nombre %>">
                    <select class="select-mod">
                      <option value="0" <%= rol.perRed===0 ? 'selected' : '' %>>Ninguno</option>
                      <option value="1" <%= rol.perRed===1 ? 'selected' : '' %>>Lectura</option>
                      <option value="2" <%= rol.perRed===2 ? 'selected' : '' %>>Edición</option>
                    </select>
                  </td>
                  <td contenteditable="true" class="editable" data-field="perDemandas" data-id="<%= rol.nombre %>">
                    <select class="select-mod">
                      <option value="0" <%= rol.perDemandas===0 ? 'selected' : '' %>>Ninguno</option>
                      <option value="1" <%= rol.perDemandas===1 ? 'selected' : '' %>>Lectura</option>
                      <option value="2" <%= rol.perDemandas===2 ? 'selected' : '' %>>Edición</option>
                    </select>
                  </td>
                  <td contenteditable="true" class="editable" data-field="perRiego" data-id="<%= rol.nombre %>">
                    <select class="select-mod">
                      <option value="0" <%= rol.perRiego===0 ? 'selected' : '' %>>Ninguno</option>
                      <option value="1" <%= rol.perRiego===1 ? 'selected' : '' %>>Lectura</option>
                      <option value="2" <%= rol.perRiego===2 ? 'selected' : '' %>>Edición</option>
                    </select>
                  </td>
                  <td contenteditable="true" class="editable" data-field="perEquipos" data-id="<%= rol.nombre %>">
                    <select class="select-mod">
                      <option value="0" <%= rol.perEquipos===0 ? 'selected' : '' %>>Ninguno</option>
                      <option value="1" <%= rol.perEquipos===1 ? 'selected' : '' %>>Lectura</option>
                      <option value="2" <%= rol.perEquipos===2 ? 'selected' : '' %>>Edición</option>
                    </select>
                  </td>
                  <td class="acciones">
                    <button class="btn" onclick="updateRol('<%= rol.nombre %>')">Actualizar</button>
                    <button class="btn red-btn" onclick="borrarRol('<%= rol.nombre %>')">Borrar</button>
                  </td>
                </tr>
                <% } %>
            </tbody>
          </table>
        </div>
        <script> var todos = [];</script>
        <% for(let rol of todosLosRoles) { %>
          <script>
            todos.push({ id: '<%= rol.nombre %>' });
            //console.log(todos);
          </script>
          <% } %>
            <div class="div-container">
              <!-- Botones de paginación -->
              <!-- 
             
            -->
              <div class="pagination">
                <label for="page-selector">Página:</label>
                <select id="page-selector"
                  onchange="window.location.href = '/gestor-usuarios?pageRoles=' + this.value;">
                  <% for (let i=1; i <=totalPagesRoles; i++) { %>
                    <option value="<%= i %>" <%=i===currentPageRoles ? 'selected' : '' %>><%= i %>
                    </option>
                    <% } %>
                </select>
              </div>
            </div>
      </div>
      <%- include('../components/common/footer.ejs') %>
    </main>
    <script>
      const mostrarFormularioButton = document.getElementById('mostrarFormUsuarios');
      const miFormulario = document.getElementById('usuariosForm');

      mostrarFormularioButton.addEventListener('click', () => {
        // Cambia la visibilidad del formulario cuando se hace clic en el botón
        if (miFormulario.style.display === 'none') {
          miFormulario.style.display = 'block';
        } else {
          miFormulario.style.display = 'none';
        }
      });

      const mostrarFormularioRolesButton = document.getElementById('mostrarFormRoles');
      const miFormularioRoles = document.getElementById('rolesForm');

      mostrarFormularioRolesButton.addEventListener('click', () => {
        // Cambia la visibilidad del formulario cuando se hace clic en el botón
        if (miFormularioRoles.style.display === 'none') {
          miFormularioRoles.style.display = 'block';
        } else {
          miFormularioRoles.style.display = 'none';
        }
      });
    </script>

    <!-- Script para la búsqueda en tiempo real -->
    <script>
      //Solo busca en la página actual
      document.addEventListener("DOMContentLoaded", function () {
        const searchInput = document.getElementById("search");

        searchInput.addEventListener("keyup", function () {
          const searchTerm = this.value.toLowerCase();

          // Accede a la variable de Node.js (miVariable) y asígnala a una variable de JavaScript

          console.log("todos " + todos[0].id);

          var found = false;
          for (var i = 0; i < todos.length; i++) {
            //console.log("contador['id'] " + todos[i].id + " " + searchTerm);
            if ((todos[i].login.toLowerCase()).includes(searchTerm)) {
              found = true;
              break;
            }

          }
          if (found) {
            var pagina = (i / 10) + 1;
            console.log("Página: " + parseInt(pagina));
            location.href = "/gestor-usuarios?page=" + parseInt(pagina);
            //row.style.display = "";
          } else {
            //row.style.display = "none";
          }

        });
      });
    </script>
    <script>
      // Función para mostrar la pestaña seleccionada
      function showTab(tabId) {
        const tabs = document.querySelectorAll('.tab-content');
        tabs.forEach(tab => tab.classList.remove('active'));
        document.getElementById(tabId).classList.add('active');

        const tabLabels = document.querySelectorAll('.tab-label');
        tabLabels.forEach(label => label.classList.remove('active'));
        const activeLabel = document.querySelector(`.tab-label[data-tab="${tabId}"]`);
        activeLabel.classList.add('active');
      }
    </script>

  </body>