<%- include('../components/common/head.ejs', { pageTitle: pageTitle }) %>
  <link rel="stylesheet" href="/styles/navbar.css">
  <link rel="stylesheet" href="/styles/socialbar.css">

  <link rel="stylesheet" href="/styles/gestor_clientes.css">
  <script src="/scripts/gestor-clientes.js" defer></script>
  </head>

  <body>
    <main>
      <h2 class="titulo_seccion">
      </h2>
      <div class="div-container">
        <button id="mostrarFormClientes" class="btn">Añadir nuevo cliente</button>
        <form action="/gestor-clientes/agregarCliente" method="POST" id="clientesForm" style="display: none;">
          <label for="numero">Número:</label>
          <input type="text" name="numero" required>
          <label for="Nombre">Nombre:</label>
          <input type="text" name="nombre" id="nombre" required>
          <label for="DNI">DNI:</label>
          <input type="text" name="dni" id="dni" required>
          <label for="Email">Email:</label>
          <input type="text" name="email" id="email" required>
          <label for="Telefono">Teléfono:</label>
          <input type="text" name="telefono" id="telefono" required>
          <button type="submit" class="btn">Añadir</button>
        </form>
        <label>Buscar registro... </label><input type="text" id="search" class="search-input" placeholder="Buscar">
      </div>

      <div class="table-container">
        <table>
          <thead>
            <tr>
              <th>Número</th>
              <th>Nombre</th>
              <th>DNI</th>
              <th>Email</th>
              <th>Teléfono</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody id="table">
            <% for(let cliente of clientes) { %>
              <tr data-uid="<%= cliente.numero %>">
                <td data-field="numero" data-id="<%= cliente.numero %>">
                  <%= cliente.numero %>
                </td>
                <td contenteditable="true" data-field="nombre" data-id="<%= cliente.numero %>">
                  <%= cliente.nombre %>
                </td>
                <td contenteditable="true" class="editable" data-field="dni" data-id="<%= cliente.numero %>">
                  <%= cliente.dni %>
                </td>
                <td contenteditable="true" class="editable" data-field="email" data-id="<%= cliente.numero %>">
                  <%= cliente.email %>
                </td>
                <td contenteditable="true" class="editable" data-field="telefono" data-id="<%= cliente.numero %>">
                  <%= cliente.telefono %>
                </td>
                <td class="acciones">
                  <button class="btn" onclick="updateCliente('<%= cliente.numero %>')">Actualizar</button>
                  <button class="btn red-btn" onclick="borrarCliente('<%= cliente.numero %>')">Borrar</button>
                </td>
              </tr>
              <% } %>
          </tbody>
        </table>
      </div>
      <script> var todos = [];</script>
      <% for(let cliente of todosLosClientes) { %>
        <script>
          todos.push({ id: '<%= cliente.numero %>', nombre: '<%= cliente.nombre %>' });
          //console.log(todos);
        </script>
        <% } %>
          <div class="div-container">
            <!-- Botones de paginación -->
            <!-- 
         
        -->
            <div class="pagination">
              <label for="page-selector">Página:</label>
              <select id="page-selector" onchange="window.location.href = '/gestor-cliente?page=' + this.value;">
                <% for (let i=1; i <=totalPages; i++) { %>
                  <option value="<%= i %>" <%=i===currentPage ? 'selected' : '' %>><%= i %>
                  </option>
                  <% } %>
              </select>
            </div>


          </div>
          <%- include('../components/common/footer.ejs') %>
    </main>
    <script>
      const mostrarFormularioButton = document.getElementById('mostrarFormClientes');
      const miFormulario = document.getElementById('clientesForm');

      mostrarFormularioButton.addEventListener('click', () => {
        // Cambia la visibilidad del formulario cuando se hace clic en el botón
        if (miFormulario.style.display === 'none') {
          miFormulario.style.display = 'block';
        } else {
          miFormulario.style.display = 'none';
        }
      });
    </script>

    <!-- Script para la búsqueda en tiempo real -->
    <script>
      //Solo busca en la página actual
      document.addEventListener("DOMContentLoaded", function () {
        const searchInput = document.getElementById("search");

        searchInput.addEventListener("keyup", function () {
          const searchTerm = this.value.toLowerCase();

          // Accede a la variable de Node.js (miVariable) y asígnala a una variable de JavaScript

          console.log("todos " + todos[0].id);

          var found = false;
          for (var i = 0; i < todos.length; i++) {
            //console.log("contador['id'] " + todos[i].id + " " + searchTerm);
            if ((todos[i].login.toLowerCase()).includes(searchTerm)) {
              found = true;
              break;
            }

          }
          if (found) {
            var pagina = (i / 10) + 1;
            console.log("Página: " + parseInt(pagina));
            location.href = "/gestor-clientes?page=" + parseInt(pagina);
            //row.style.display = "";
          } else {
            //row.style.display = "none";
          }

        });
      });
    </script>

  </body>