<%- include('../components/common/head.ejs', { pageTitle: pageTitle }) %>
<link rel="stylesheet" href="/styles/navbar.css">
<link rel="stylesheet" href="/styles/socialbar.css">
<link rel="stylesheet" href="/styles/tables-styles.css">
<script src="/scripts/utils.js" defer></script>
<script src="/scripts/navbar.js" defer></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAxEYV_9I3yALB6JE1kanVt4qdvDURH3zg"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

<link rel="stylesheet" href="/styles/visor_datos.css">
<script src="/scripts/visor-datos.js" defer></script>
</head>
<body>
    <aside>
        <%- include('../components/common/rrss.ejs') %>
    </aside>
    <header>
        <%- include('../components/common/navbar.ejs') %>
    </header>
    <main>
        <h2 class="titulo_seccion">
        </h2>
        <div id="data-viewer">
            <section id="mapa">
            </section>
            <section id="filtros">
                <article id="selectores">
                    <div>
                        <label for="sector-dropdown">Sectores</label>
                        <select id="sector-dropdown" onchange="updateElements()">
                            <option selected value="0">Todos</option>
                            <option value="S1">Sector 1</option>
                            <option value="S2">Sector 2</option>
                            <option value="S3">Sector 3</option>
                            <option value="S4">Sector 4</option>
                            <option value="S5">Sector 5</option>
                            <option value="S6">Sector 6</option>
                        </select>
                    </div>
                    <div>
                        <label for="tipo-dropdown">Tipo</label>
                        <select id="tipo-dropdown" onchange="updateElements()">
                            <option selected value="todos">Todos</option>
                            <option value="caudalimetro">Caudalímetro</option>
                            <option value="nivel">Sensor de nivel</option>
                            <option value="presion">Sensor de presión</option>
                            <option value="valvula">Válvula</option>
                        </select>
                    </div>
                    <div>
                        <label for="fecha-inicio">Inicio</label>
                        <input type="datetime-local" id="fecha-inicio" max="<%= today %>"
                            onchange="updateTime(this)" />
                    </div>
                    <div>
                        <label for="fecha-fin">Fin</label>
                        <input type="datetime-local" id="fecha-fin" max="<%= today %>"
                            onchange="updateTime(this)" />
                    </div>
                    <button class="btn" onclick="paintGraph()">Cargar datos</button>
                </article>
                <article id="lista-elementos">
                    <ul>
                        <% for (element of geData) { %>
                            <li 
                                id="<%= element.id %>" 
                                data-sector="<%= element.sector %>"
                                data-tipo="<%= element.tipo %>"
                                data-coorX="<%- element.coorX %>"
                                data-coorY="<%- element.coorY %>"
                                onclick="selectElement(this)"><%= element.id %></li>
                        <% } %>
                    </ul>
                </article>

            </section>
            <section id="highchart-graph"></section>
            <section id="tablas">
                <ul id="tablas-head">
                    <li id="tabla1">
                        <table>
                            <thead>
                              <tr>
                                <th>Fecha</th>
                                <th>Valor</th>
                              </tr>
                            </thead>
                            <tbody>
                              <!-- Aquí se generarán dinámicamente las filas de la tabla -->
                            </tbody>
                          </table>
                    </li>
                    <li id="tabla2"></li>
                    <li id="tabla3"></li>
                    <li id="tabla4"></li>
                    <li id="tabla5"></li>
                    <li id="tabla6"></li>
                </ul>
            </section>
        </div>
    </main>
</body>
</html>